*{
    margin:0;
    padding:0;
}
html{
    height:100%;
}
body{
    background-color:white;
    height:100%;
}
article{
    background-color:beige;
    height:100%;
    width:70%;
    position: relative;
    left:15%;
    text-align: center;
    -moz-box-shadow: 0 0 30px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    box-shadow: 0 0 30px #ccc;
}
.purpose{
    color:maroon;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top:10%;
    text-decoration: underline;
}